<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="TortugaCEntities" connectionString="metadata=res://*/BD.DB.csdl|res://*/BD.DB.ssdl|res://*/BD.DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-C4LIFVJS\MSSQLSERVER01;initial catalog=TortugaC;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TortugaCEntities1" connectionString="metadata=res://*/BD.DB.csdl|res://*/BD.DB.ssdl|res://*/BD.DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-8M85L7T;initial catalog=TortugaC;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TortugaCEntities2" connectionString="metadata=res://*/BD.DB.csdl|res://*/BD.DB.ssdl|res://*/BD.DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-8B709SC\SQLEXPRESS;initial catalog=TortugaC;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TortugaS_FinishEntities" connectionString="metadata=res://*/BD.DB.csdl|res://*/BD.DB.ssdl|res://*/BD.DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-PQ7RNF80\SQLEXPRESS;initial catalog=TortugaS_Finish;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TortugaS_FinishEntities1" connectionString="metadata=res://*/BD.Model1.csdl|res://*/BD.Model1.ssdl|res://*/BD.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-L05LL6D\SQLEXPRESS;initial catalog=TortugaS_Finish;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>